* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #29a1e7a2;
}

#container {
    height: auto;
    width: auto;
    background: linear-gradient(to bottom, #dcb388 10%, #a16739);
    border-radius: 30px;
    padding: 30px;
    box-shadow: inset 1px 2px 0px rgb(255 255 255 / 18%), inset -2px -2px 2px rgb(0 0 0 / 65%);
}

#startingPage {
    height: 250px;
    width: 300px;
    text-align: center;
}

#startingPage h2,
#winner h2 {
    font-size: 50px;
    color: #1e3845;
}

#startingPage #line {
    height: 1px;
    width: 100%;
    background: #323e44a8;
    margin: 20px 0;
}

#startingPage h4 {
    font-size: 25px;
    color: #1e3845;
}

#startingPage #button {
    height: auto;
    width: 100%;
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-content: center;
    gap: 1rem;
}

#button button {
    height: 35px;
    width: 140px;
    cursor: pointer;
    background: #dcb388;
    border: none;
    outline: none;
    color: #1e3845;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
    transition: 0.5s;
}

#startingPage #button button:hover,
#winner #button button:hover {
    transform: scale(0.9);
}

#winner {
    display: none;
}

#winner #button {
    height: auto;
    width: 100%;
    display: grid;
    justify-content: center;
    color: #1e3845;
}

#winner #button button {
    margin-top: 40px;
}

#mainPage {
    height: 600px;
    width: 460px;
    padding: 20px;
    position: relative;
    display: none;
}

#mainPage #headerBtns {
    height: 60px;
    width: auto;
    border-radius: 50px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 1rem;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
}

#mainPage #headerBtns button {
    height: 60px;
    width: 210px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.60);
}

#mainPage #headerBtns #O_Turn {
    left: 210px;
    z-index: 3;
}

#showChange {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 210px;
    border-radius: 50px;
    background: #e72929bd;
    z-index: 1;
    transition: 0.2s;
}

#gameBoard {
    height: auto;
    width: auto;
    position: absolute;
    top: 150px;
    left: 10px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
}

.boxes {
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.boxes i {
    font-size: 60px;
    color: #e72929bd;
}